<%- include('../partials/header') %>

  <a href="/courses/add" class="btn btn-primary">Add courses</a>
  <br><br>

<table class="table table-striped">
  <th scope="col">Name</th>
  <th scope="col">ID</th>
  <th scope="col">View</th>
  <th scope="col">Edit</th>
  <th scope="col">Delete</th>
  <% courses.forEach(function (course) { %>
    <tr>

      <td><%= course.course_name %></td>
      <td><%= course.course_id %></td>
      <td><a href="/courses/<%= course.course_id%>">View</a></td>
      <td><a href="/courses/<%= course.course_id%>/edit">Edit</a></td>
      <td><a href="/courses/<%= course.course_id%>/delete" target="_parent">delete</a></td>
    </tr>
    <% }); %>
    
</table>

<body data-flag="<%= flag %>" data-c_id = "<%= courses[courses.length-1].course_id %>">
<script>
  function course_add_alert(){
    let flag = document.body.dataset.flag;
    let c_id = document.body.dataset.c_id;
    console.log(c_id);
    if(flag == 1){
      window.alert("New course " + c_id + " added");
    }
    
  }
  window.onload = function(){

    course_add_alert();
  }
</script>

<%- include('../partials/footer') %>